<div class="fixed-header">
  <div class="header">
    <div class="labels">
      <div class="title">
        <label routerLink="/home">Ajio</label>
      </div>
      <div class="search-bar">
        <i class="fas fa-search"></i>
      </div>
      <div class="btn">
        <button class="login">Login</button>
      </div>
      <div class="cart">
        <i class="fas fa-shopping-cart"> <span class="cart-text">cart</span></i>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="middle">
      <span *ngFor="let item of data" class="inner">
        <div  [routerLink]="item.link">{{ item.category }}</div>
      </span>
    </div>
  </div>
</div>
