<div class="fixed-header">
<div class="header">
  <div class="labels"> 
      <div class="title"> 
        <label routerLink="/home" >Ajio</label>
      </div>
      <div class="search-bar">
        <i class='fas fa-search'></i>
      </div>
      <div class="btn">
        <button class="login">Login</button>
      </div>
      <div class="cart">
        <i class="fas fa-shopping-cart"> <span class="cart-text">cart</span></i>
      </div>
  </div>
</div>
<div class="products">
  <div class="middle">
   <div class="inner" routerLink="/category/Mobiles">Mobiles</div>
   <div class="inner" routerLink="/category/Appliances">Appliances</div>
   <div class="inner" routerLink="/category/Grocery">Groceries</div>
   <div class="inner" routerLink="/category/Clothes">Clothes</div>
   <div class="inner" routerLink="/category/Sports">Sports</div>
   <div class="inner" routerLink="/home">Home</div>
  </div>
</div>
</div>